
<div class="contentbody">
<div id="TermWindow">
    <div id="toolbar">
     <div class="top">
       <div id="title">
         <div class="folder">
           <div class="tab"></div>
           <div class="body"></div>
         </div>
         <div class="title">root~$</div>
       </div>
     </div>
   </div>
   <div id="body">
      <p><span class="terminal-user">      
        </span><span id="terminalType"></span></p>	
   </div>	
 </div>
</div>

<!--<div class="page-wrapper">
    <div class="terminal-outer">
      <div class="terminal-container">
        <div class="terminal-section terminal-header">
          <div class="terminal-controls">
            <span class="elem elem-close"></span>
            <span class="elem elem-minimize"></span>
            <span class="elem elem-fullscreen"></span>
            <span class="elem-title"></span>
          </div>root~$:</div>
        <div class="terminal-section terminal-body">
          <div class="terminal-section terminal-body-inner">
            
            <p><span class="terminal-user">      
            </span><span id="terminalType"></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
-->



  <!--`<span class="terminal-user">abiacarl@example.com: /etc/apache2/sites-available$</span>`^1000service apache2 restart<br>`<span class="terminal-user">abiacarl@example.com: /etc/apache2/sites-available$</span>`^1000cd /var/www/sandboxes/abiacarl/<br>`abiacarl@example.com:~$`^1000 clear-->