<div class="wrapper">
    <div class="box item1">
        <ul class="skills-bar-container">
            Software-Testing<br>
            <label>User Acceptance-testing (UAT)</label><span class="percent"></span>
          <li>
            <span class="progressbar progressUAT" id="progress-uat"></span>
          </li>
          <label>functional Acceptance-testing (FAT)</label><span class="percent"></span>
          <li>
            <span class="progressbar progressFAT" id="progress-fat"></span>
          </li>
          <label>Penetration-testing</label><span class="percent"></span>
          <li>
            <span class="progressbar progressPEN" id="progress-pen"></span>
          </li>
          
          </ul>
    </div>
    <div class="box item2">
        <ul class="skills-bar-container">
            <h3>Programming:</h3>
            <label>Java</label><span class="percent"></span>
          <li>
            <span class="progressbar progressJAVA" id="progress-java"></span>
          </li>
          <label>C#</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressCSHARP" id="progress-csharp"></span>
          </li>
          <label>.net</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressDOTNET" id="progress-dotNet"></span>
          </li>
          <label>Python</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressPYTHON" id="progress-python"></span>
          </li>
          <label>SQL</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressSQL" id="progress-sql"></span>
          </li>
          <label>Visual Basic & VBA</label>
          <span class="percent" id="angular-pourcent"></span>
          <li>
            <span class="progressbar progressVISUALBASIC" id="progress-vb"></span>
          </li>
        </ul>
    </div>
    <div class="box item3">
      <ul class="skills-bar-container">
            <h3>Web Development</h3>
            <label>HTML & CSS</label>
            <span class="percent"></span>
            <li>
              <span class="progressbar progressHTML" id="progress-html"></span>
            </li>
            <label>JavaScript / jQuery</label>
            <span class="percent"></span>
            <li>
              <span class="progressbar progressJAVASCRIPT" id="progress-js"></span>
            </li>
            <label>PHP</label>
            <span class="percent"></span>
            <li>
              <span class="progressbar progressPHP" id="progress-php"></span>
            </li>
            <label>Actionscript</label>
            <span class="percent"></span>
            <li>
              <span class="progressbar progressACTIONSCRIPT" id="progress-as"></span>
            </li>
        </ul>
    </div>
</div>