<div class="class">
  <img src="../../../assets/images/17006430.jpeg" height="150" width="150" alt="Image" style="float: left; margin: 30px 10px 0px 10px; border: 0px solid #000000;">
  <br>
  <br>
  <div class="txtContent">
    Welcome to my Portfolio Visitor!
    I am a 29 year-old senior Software-tester.
    Has worked within test since 2014 both as test-designer and test-executor for several projects.
    Through all my assignments<br>
    I used both Automatic and Manual-testing methologies. Proficient in create and execute test-cases on a daily basis
    also used to verify complex requirements.<br>
    My work also includes test reporting and handling over to production and maintenance.<br>
    <br>
    Besides I have a wide technical background in computers: <br>Network, configuration, servers softwares
    also many years of experience in following languages: JavaScript, HTML, PHP<br>Java, Angular-cli VBA VB, .NET, SQL.
    <br>
    <br>
    <u>Enjoy my site!</u>

  </div>
